*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top-nav{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: #2842cd;
    color: #fff;
}
span a{
    text-decoration: none;
    color: #fff;
}
.navbar-nav a{
    font-size: 1.1rem;
    color: #000 !important;
}
.navbar-nav a:hover{
    color: #2842cd !important;
}
main{
    background-image: url(../imgs/main-bg.jpg);
    height: 45vh;
}
main h1{
    font-size: 3.5rem;
    font-weight: 700;
}
h2 span{
    color: #2842cd !important;
}
.icon i{
    font-size: 2rem;
    color: #fff !important;
}
.icon{
    padding: 1rem;
    background-color: #2842cd;
}
.right-content .text{
    text-align: right;
}
.middle-content img{
    width: 100%;
    height: 100%;
}
.content{
    height: 500px;
}
.content ul{
    list-style: none;
}
.left-content ul li {
    padding-left: 10px;
    border-left: 5px solid #2842cd;
}
.sec-4{
    background-image: url(../imgs/sec-4-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.cardd{
    color: rgb(197, 184, 184);
    text-align: center;
}
.cardd i, h2{
    font-size: 3rem;
}
.cardd p{
    font-size: 1.5rem;
}
.newsletter{
    color: #fff;
    background-color: #2842cd;
}

.icon2 i{
    font-size: 2rem;
    border: 1px solid #2842cd;
    border-radius: 50%;
    padding: 1rem;

}